// ==================================================================
// Icons
// ==================================================================

.o-icon {
  height: 1rem;
  width: auto;
}

.o-icon--big {
  height: 1.38084rem;
}

.o-icon--huge {
  height: 1.90672rem;
}
